// Colors
$primary-color:#ededed;
$primary-blue-color:#3F72AF;
$primary-dark-blue-color:#112D4E;
// Navbar
$secondary-independence-color:#0087ca;
$secondary-charcoal-color:#374151;
//Footer
$primary-sonicSilver-color:#787878