// Colors
$primary-color:#F9F7F7;
$secondary-color:#DBE2EF;
$primary-blue-color:#3F72AF;
$primary-dark-blue-color:#112D4E;

// Navbar
$navbar_active_color:#0087ca;
$navbar_item_color:#374151;


//Footer
$footer-text-color:rgb(120, 120, 120);
